@import "vars";
@import "libs";
@import "fonts";
@import "blocks/header";
@import "blocks/nav";
@import "blocks/intro";
@import "blocks/blogs";
@import "blocks/footer";
@import "blocks/content";
@import "blocks/about";
@import "blocks/products";


*:before,
*:after,
* {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

body {
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    font-family: 'Noto Sans JP', sans-serif;
    &.lock {
        overflow: hidden;
    }
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}

.title {
    margin-bottom: 50px;
    text-align: center;
    &__text {
        margin-bottom: 20px;
        font-family: 'Noto Serif JP', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 36px;
        line-height: 44px;
        text-transform: capitalize;
        color: #C30F23;
        span {
            position: relative;
            padding-left: 15px;
            &:after {
                position: absolute;
                top: 0;
                left: 0;
                content: url(../img/sircle.svg);
            }
        }
    }
    &__subtext {
        font-size: 18px;
        line-height: 26px;
        color: #464646;
    }
}

@media(max-width: 768px) {
    .title {
        margin-bottom: 40px;
        &__text {
            font-size: 30px;
            line-height: 42px;
        }
        &__subtext {
            font-size: 16px;
            line-height: 24px;
        }
    }
}

@media(max-width: 480px) {
    .title {
        margin-bottom: 30px;
        &__text {
            font-size: 28px;
            line-height: 36px;
        }
        &__subtext {
            font-size: 14px;
            line-height: 22px;
        }
    }
}