.content {
    margin-bottom: 70px;
    &__inner {
        display: flex;
        align-items: center;
    }
		&__img {
            width: 100%;
            img {
                display: block;
                max-width: 100%;
            }
		}

		&__wrapper {  
            width: 100%;
            background: #D24B5A;
            padding: 100px 0px 100px 130px;
        }
        &__wrapper-bg {
            background-color: #fff;
            padding: 53px 0px 53px 50px;
        }
		&__wrapper-title {
            font-family:'Noto Serif JP';
            font-weight: 500;
            font-size: 36px;
            line-height: 44px;
            text-transform: capitalize;
            color: #C30F23;
        }
        &__col {
            margin-top: 100px;
        }
        &__text {
            color: #464646;
            margin-bottom: 30px;
            font-size: 18px;
            line-height: 26px;
        }
}

@media(max-width: 1200px) {
    .content {
        &__wrapper {  
            padding: 80px 0px 80px 90px;
        }
        &__wrapper-bg {
            background-color: #fff;
            padding: 30px 0px 30px 30px;
        }
    }
}

@media(max-width: 900px) {
    .content {
        &__wrapper {  
            padding: 60px 0px 60px 70px;
        }
    }
}

@media(max-width: 768px) {
    .content {
        &__wrapper {  
            padding: 60px 0px 60px 80px;
        }
        &__wrapper-bg {
            padding: 25px 0px 25px 30px;
        }
		&__wrapper-title {
            font-size: 30px;
            line-height: 42px;
        }
        &__col {
            margin-top: 50px;
        }
        &__text {
            font-size: 16px;
            line-height: 24px;
        }
    }
}


@media(max-width: 700px) {
    .content {
        &__wrapper {  
            padding: 40px 0px 40px 50px;
        }
    }
}

@media(max-width: 480px) {
    .content {
        margin-bottom: 40px;
        &__wrapper {  
            padding: 30px 0px 30px 0px;
        }
        &__wrapper-bg {
            transform: translateX(-15px);
            padding: 5px 0px 5px 15px;
        }
        &__wrapper-title {
            font-size: 28px;
            line-height: 36px;
        }
        &__col {
            margin-top: 40px;
        }
        &__text {
            margin-bottom: 20px;
        }
    }
}
