.products {
    margin-bottom: 80px;
    &__inner {
        display: flex;
        align-items: center;
        padding: 0 -5px;
        flex-wrap: wrap;
    }

    &__item {
        margin: 0 5px 20px;
        flex-basis: 32%;
        padding: 40px;
        background: #FFCEAA;
        text-align: center;
    }

    &__item-title {
        font-family: 'Noto Serif JP', sans-serif;
        font-weight: 600;
        font-size: 30px;
        line-height: 42px;
        text-transform: capitalize;
        color: #8C0B19;
    }

    &__item-subtitle {
        line-height: 24px;
        text-transform: capitalize;
        color: #464646;
        margin-bottom: 70px;
    }

    &__item-img {
        margin: 0 auto;
        img {
            display: block;
            max-width: 100%;
        }
    }
}

@media(max-width: 768px) {
    .products {
        &__item {
            flex-basis: 48%;
            padding: 40px 35px;
        }
        &__item-title {
            font-size: 28px;
            line-height: 36px;
            margin-bottom: 35px;
        }
    
        &__item-subtitle {
            margin-bottom: 40px;
        }
    }
}

@media(max-width: 550px) {
    .products {
        margin-bottom: 40px;
        &__item {
            flex-basis: 100%;
            padding: 30px 26px;
        }
        &__item-title {
            font-size: 24px;
            line-height: 28px;
            margin-bottom: 28px;
        }
    
        &__item-subtitle {
            font-size: 14px;
            line-height: 18px;
            margin-bottom: 20px;
        }
    }
}



